- name: run the playbook tasks on the localhost
  hosts: local
  roles:
    - role: ansible-bluegreen-docker
      vars:
        app_repo: "lsioctl/{{ app_name }}"
        app_name: "myapp2"
        app_port: 80
        app_network: "cicdinfra_front"
        # uncomment for local ansible tests
        # as we need access to docker network
        app_check_health: False
